<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SPOTIFY</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
	<img src="https://imagenes.milenio.com/nZUqbVktl1NJQz6tP1Yn9TBkAt8=/958x596/https://www.milenio.com/uploads/media/2018/10/02/que-servicio-te-conviene-mas-2_0_0_1200_747.jpg" alt="logo" width="50" height="50">
<a href = "#" class="navbar-brand mx-auto">Spotify XD</a>

<div>
        <a href="/vista1/" target="_blank" class="navbar-brand mx-auto">Vista 1 Albumes| </a>
        <a href="/vista2/" target="_blank" class="navbar-brand mx-auto">Vista 2 Canciones | </a>
        <a href="/vista3/" target="_blank" class="navbar-brand mx-auto"> Vista 3 Reportes </a>
      </div>

</nav>

<h1> Reproductor de Music - El Mejor Sitio!.</h1>

<h2> .... </h2>

 <img src="https://www.merca2.es/wp-content/uploads/2019/08/musica-streaming.jpg" alt="music-svg">


</body>
</html>